
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/Styles/DefaultStyles.css" rel="stylesheet" />
    <link href="~/Styles/botchat.css" rel="stylesheet" />
</head>
<body>
    <div id="header" class="flexcontainer-v">
        <img src="~/Images/bot-framework-logo.png" alt="Bot Framework Logo" height="75" style="margin: 10px" />
        <h1>Welcome to your Service Chat Dashboard</h1>
    </div>
    <!--<label onclick="doMagic()">Set focus</label>-->
    <div class="flexcontainer-v" id="userCasesContainer">
    </div>
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/botchat.js"></script>
    <script>
        //Used for debugging
        //function doMagic() {
        //    console.log('Set focus');
        //    var element = document.getElementsByClassName('wc-textbox')[0].children[0];
        //    element.focus();
        //    element.value = 'Jo';
            //var element2 = document.getElementsByClassName('wc-send')[0];
            //element2.onClick = alert("Hello");
            //element2.click();
        //}

        // Gobal counter for the number of chat windows
        var numberOfChats = 0;
          
        $(function () {

            var userConversationHubProxy = $.connection.userConversationHub;
            userConversationHubProxy.client.addNewUserConversationToPage = function (userchat) {

                console.log('Starting to add new user converstation');

                var userChatObject = JSON.parse(userchat);

                //Add a new chat frame element to the page
                $('#userCasesContainer').append('<div class="conversationContainer"><div class="userInformation"><h2>User Information</h2><div>Conversation ID: ' + userChatObject.userConversationId + '</div><div>Customer Number: ' + userChatObject.customerNumber + '</div></div><div class="chatframe" id="chatframe_' + ++numberOfChats + '"></div></div>');
                
                var user = {
                    id: '',
                    name: 'Call Center Agent'
                };

                var bot = {
                    id: '',
                    name: ''
                };

                //Add a new web chat to the new chat frame
                BotChat.App({
                    directLine: {
                        secret: '4Ty6OeWHM04.cwA.Wzk.qRarqUjkBztUk0dPI6dDf_beAd6Ntw-Qoxc-iNZg7u0',
                        token: '',
                        domain: '',
                        webSocket: '' // defaults to true
                    },
                    user: user,
                    bot: bot,
                    locale: '',
                    customerConversationId: userChatObject.userConversationId
                    // sendTyping: true,    // defaults to false. set to true to send 'typing' activities to bot (and other users) when user is typing
                }, document.getElementById("chatframe_" + numberOfChats));

                console.log('Added a new conversation');
            };

            $.connection.hub.start().done(function () {
                console.log("Hub started");
            });
        });
    </script>
</body>
</html>
