body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.flexcontainer-v {
    display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row;
}

#header {
    padding: 5px;
}

.conversationContainer {
    width: 410px;
    height: 800px;
    padding: 5px;
}

.userInformation {
    padding: 5px;
}

.chatframe {
    width: 400px;
    height: 550px;
}

h2 {
    padding: 0px;
    margin: 0px;
}
