body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.flexcontainer-v {
    display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row;
}

#header {
    padding: 5px;
}

.conversationContainer {
    width: 310px;
    height: 450px;
    margin: 5px;
    position: relative;
}

.userInformation {
    padding: 5px;
}

.chatframe {
    width: 300px;
    height: 100%;
    position: relative;
}

h2 {
    padding: 0px;
    margin: 0px;
}

#userCasesContainer {
    margin-left: 5px;
}
